.App {
  text-align: center;
  display: flex;
  border-left:100px;
}


.ReactVirtualized__Grid__innerScrollContainer::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
.ReactVirtualized__Grid__innerScrollContainer::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
}


div{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
