.App {
  text-align: center;
  display: flex;
  border-left:100px;
}



.ReactVirtualized__Grid__innerScrollContainer::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
.ReactVirtualized__Grid__innerScrollContainer::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
}

div{
  height: 50vh;
  width: 50vh;
  display: flex;
}
